#banner{
    width: 1000px;
}

.dropdown-menu{
    font-family: 'Ruslan Display', cursive;
}
.nav-link{
    font-family: 'Russo One', sans-serif;
}
#letov{
    font-family: 'Ruslan Display', cursive;
}
#hoy{
    font-family: 'Russo One', sans-serif;
}
#gor{
    font-family: 'Russo One', sans-serif;
}
.carousel-caption{
    background-color: rgba(26, 25, 25, 0.990);
}
#test{
    width: 250px;
    margin-left: calc(50% - 125px);
}
.ad{
    margin-left: 25px;
}
.da{
    margin-left: 40px;
}
#answer{
    visibility: hidden;
    position: absolute;
    top: 0;
    user-select: none;
}
body{
    background-image: url("img/11.jpg");
}